$primary-font: "Spartan", sans-serif;
$secondary-font: "Nunito", sans-serif;

$dark-text-color: #222931;
$text-color: #58636d;
$placeholder: #f4f9ff;
$tile-placeholder: #dfe4ea;
$border-gray: #dbe3ec;

$primary-color: #11243a;
$secondary-color: #2089f5;
$button-color: #eab644;

$button-green: rgba(28, 169, 138, 1);
$button-red: rgba(183, 21, 64, 1);
$button-gray: #778ca3;

@mixin transition($time) {
  -webkit-transition: all$time ease;
  -moz-transition: all$time ease;
  -o-transition: all$time ease;
  transition: all$time ease;
}

@mixin smoothtransition($time) {
  -webkit-transition: all$time cubic-bezier(0.43, 0.13, 0.15, 0.99);
  -moz-transition: all$time cubic-bezier(0.43, 0.13, 0.15, 0.99);
  -o-transition: all$time cubic-bezier(0.43, 0.13, 0.15, 0.99);
  transition: all$time cubic-bezier(0.43, 0.13, 0.15, 0.99);
}

::-webkit-scrollbar {
  width: 12px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  height: 6px;
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.3);
}

pre::-webkit-scrollbar-thumb {
  height: 6px;
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

body {
  margin: auto;
  font-family: $primary-font;
  font-size: 100%;
}

.thin {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.white {
  color: #fff;
}

.size-s {
  font-size: 0.8em;
}

.size-l {
  font-size: 1em;
}

.size-xl {
  font-size: 1.2em;
}

.justify {
  text-align: justify;
}

.vertical-margins {
  margin: 20px 0px;
}

.horizontal-margins {
  margin: 0px 20px;
}

.content {
  width: 80%;
  margin: auto;
}

header {
  position: relative;
  width: 100%;
  height: 80px;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @include transition(0.5s);
  z-index: 1000;

  .content {
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .header-logo {
    position: relative;
    display: flex;
    align-items: center;
    position: relative;
    left: 0;
    width: 30%;
    height: 75%;
    font-size: 0.9em;
    letter-spacing: -1px;
    line-height: 1;

    .beta {
      font-size: 0.4em;
    }

    img {
      height: 100%;
    }

    img.small-fit {
      height: 70%;
      margin-right: 10px;
    }

    .text-logo {
      font-size: 1.2em;
      font-weight: 700;
      color: $dark-text-color;
    }
  }

  .links {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    cursor: pointer;

    .link {
      font-size: 0.9em;
      padding: 4px;
      margin: 0px 10px;
      color: $text-color;
      font-weight: 500;
      -webkit-appearance: none;
      @include transition(0.5s);
    }

    .link:hover {
      color: $dark-text-color;
    }

    .underline {
      border-bottom: 3px solid transparent;
    }

    .underline:hover,
    .active.underline {
      border-bottom: 3px solid $secondary-color;
    }

    .filled {
      padding: 8px 20px;
      border-radius: 20px;
      background: none;
    }

    .border {
      padding: 10px 15px;
      border: 2px solid transparent;
    }

    .border:hover {
      border: 2px solid rgba(0, 0, 0, 0.1);
    }

    .filled:hover,
    .active.filled,
    .active.border {
      background: $secondary-color;
      color: #fff;
    }
  }
}

header.fixed {
  position: fixed;
  top: 0;
  z-index: 5000;
  box-shadow: 0 0 0px 0.25rem rgba(48, 61, 75, 0.1);
}

header .content:after {
  display: none;
  position: absolute;
  top: 50%;
  right: 0px;
  content: url(menu-button.svg);
  transform: translate(-50%, -50%);
}

section.header-fixed {
  margin-top: 80px;
}

section {
  padding: 75px 0px;
  width: 100%;
  background: $placeholder;
}

section.white {
  background: #fff;
}

.title-section {
  padding: 100px 0px;
  background-color: $primary-color;
}

.half-content {
  width: 50%;
  margin: auto;
}

.image-section {
  padding: 150px 0px;
  background: inherit;
  background-color: #eee;
  background-size: cover;
  background-position: center center;
}

.dark-film-1,
.dark-film-2,
.dark-film-3,
.dark-film-5,
.dark-film-7 {
  position: relative;
  z-index: 0;
}

.dark-film-1:before,
.dark-film-2:before,
.dark-film-3:before,
.dark-film-5:before,
.dark-film-7:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(0, 0, 0, 0.1);
  z-index: -1;
}

.dark-film-2:before {
  background: rgba(0, 0, 0, 0.2);
}

.dark-film-3:before {
  background: rgba(0, 0, 0, 0.3);
}

.dark-film-5:before {
  background: rgba(0, 0, 0, 0.5);
}

.dark-film-7:before {
  background: rgba(0, 0, 0, 0.7);
}

h1,
h2,
h3,
h4,
h5.h6 {
  letter-spacing: -1px;

  .fas,
  .far,
  .fab {
    margin-right: 15px !important;
    font-size: 1.2em;
  }
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
  padding: 5px;
  margin: 5px;
  color: $dark-text-color;
}

p {
  font-family: $secondary-font;
  font-weight: 400;
  color: $text-color;
  font-size: 1.1em;
  line-height: 1.75;
  padding: 5px;
  margin: 10px 5px;

  b {
    font-weight: 600;
  }

  i {
    font-style: italic;
  }

  a {
    cursor: pointer;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    @include transition(0.5s);
  }

  a:hover {
    color: $primary-color;
  }
}

.center {
  text-align: center;
}

.make-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  position: relative;
  overflow: hidden;
  outline: none;
  padding: 18px 25px;
  margin: 5px;
  border: none;
  background: $button-color;
  font-family: $primary-font;
  color: #fff;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: 500;
  cursor: pointer;
  z-index: 1;
  -webkit-appearance: none;
  @include transition(0.5s);

  span {
    z-index: 2;
  }
}

button:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background: rgba(0, 0, 0, 0.075);
  z-index: -1;
  @include smoothtransition(0.5s);
}

button:hover:before {
  top: 0;
}

button.round {
  border-radius: 50px;
}

button.simple {
  background: none;
  color: $text-color;
  border: 2px solid rgba(0, 0, 0, 0.1);
  @include transition(0.5s);
}

button.simple:before {
  display: none;
}

button.simple:hover {
  border: 2px solid rgba(0, 0, 0, 0.2);
}

button.simple.white {
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.1);
  @include transition(0.5s);
}

button.simple.white:hover {
  border: 2px solid rgba(255, 255, 255, 0.2);
}

button.zoom {
  transform: scale(1);
  @include smoothtransition(0.5s);
}

button.zoom:hover {
  transform: scale(1.1);
}

button.text {
  color: $text-color;
  background: none;
  font-weight: 500;
  @include transition(0.5s);
}

button.text:hover {
  opacity: 0.75;
}

button.text:before {
  display: none;
}

button.success {
  background: $button-green;
}

button.failure {
  background: $button-red;
}

button.info {
  background: $button-gray;
}

button.bubble {
  border-radius: 50px;
  padding: 12px 21px;
  background: $button-gray;
}

hr {
  margin: 10px auto;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

hr.solid {
  margin: 10px;
  width: 50px;
  border: 2px solid $primary-color;
}

hr.color-solid {
  margin: 10px;
  width: 50px;
  border: 2px solid $secondary-color;
}

h2 {
  font-size: 1.75em;
  color: $dark-text-color;
  margin: 5px;
  padding: 5px;
  font-weight: 700;

  .fas,
  .far,
  .fab {
    color: $secondary-color;
    margin-right: 5px;
    margin-left: 5px;
  }
}

h3,
h4,
h5,
h6 {
  font-size: 1.25em;
  color: $dark-text-color;
  margin: 5px;
  padding: 5px;
  font-weight: 600;

  .fas,
  .far,
  .fab {
    color: $secondary-color;
    margin-right: 5px;
    margin-left: 5px;
  }
}

h4 {
  font-size: 1.15em;
  color: $text-color;
}

h5 {
  font-size: 1.1em;
  font-weight: 700;
  color: $text-color;
}

h6 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 300;
  color: $text-color;
}

.sub-section {
  padding: 25px 0px;
}

.inner-panel {
  margin: 5px;
  padding: 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  padding: 5px;

  .card {
    width: calc(25% - 10px);
    padding-top: calc(25% - 10px);
    background: $tile-placeholder;
    margin: 5px;
  }

  .card-fixed {
    width: 200px;
    height: 200px;
    background: $tile-placeholder;
    margin: 5px;
  }

  .card-large {
    width: calc(50% - 10px);
    padding-top: calc(50% - 10px);
    background: $tile-placeholder;
    margin: 5px;
  }
}

.gallery.center {
  justify-content: center;
}

.info-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .info-card,
  .info-card-large {
    width: calc(25% - 30px);
    margin: 5px;
    padding: 10px;

    .display {
      margin-bottom: 10px;
      width: 100%;
      padding-bottom: 70%;
      background: $tile-placeholder;
    }

    .display.icon {
      background: none;
      position: relative;

      .fa,
      .fas,
      .far,
      .fal,
      .fab {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $secondary-color;
        font-size: 2.5em;
      }
    }

    .title {
      font-size: 1em;
      color: $dark-text-color;
      width: 100%;
      font-weight: 600;
      line-height: 1.5;
    }

    .info {
      font-size: 0.9em;
      line-height: 1.75;
      color: $text-color;
      width: 100%;
    }
  }

  .info-card-large {
    width: calc(50% - 30px);

    .title {
      font-size: 1.2em;
    }

    .info {
      font-size: 1em;
    }
  }
}

form {
  padding: 15px;
  margin: 5px;

  .form-title {
    font-size: 1.3em;
    color: $dark-text-color;
    margin-bottom: 40px;
    font-weight: 700;
  }

  .form-text {
    font-size: 1em;
    color: $text-color;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
  }

  .required:after {
    content: "*";
    color: $secondary-color;
  }
}

input,
textarea {
  border-radius: 4px;
  font-size: 1em;
  padding: 10px;
  margin: 5px 0px;
  color: $text-color;
  border: 1px solid $border-gray;
  font-family: $primary-font;
  outline: none;
  -webkit-appearance: none;
  @include transition(0.5s);
}

textarea {
  overflow: hidden;
  font-family: $primary-font;
}

.full-width {
  width: calc(100% - 30px);
}

input:focus,
textarea:focus {
  border: 1px solid $button-color;
  box-shadow: 0px 0px 0px 0.05rem $button-color;
}

input[type="submit"] {
  background: $button-color;
  color: #fff;
  border: none;
  font-size: 0.9em;
  padding: 18px 25px;
  margin: 10px 0px;
  font-weight: 500;
  cursor: pointer;
  @include transition(0.5s);
}

.tooltip {
  position: relative;
  overflow: visible;
}

button.tooltip:before {
  display: none;
}

.tooltip:after {
  position: absolute;
  top: calc(100% + 15px);
  left: 50%;
  //max-width: 100px;
  font-size: 0.75em;
  font-weight: 400;
  padding: 8px 12px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 5px;
  transform: translate(-50%, 0);
  content: attr(aria-label);
  z-index: 100000;
  opacity: 0;
  white-space: nowrap;
  @include transition(0.5s);
}

.tooltip:hover:after {
  opacity: 1;
  top: calc(100% + 10px);
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;

  .quick-links {
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .segment {
      width: calc(25% - 40px);
      min-width: 150px;
      margin: 10px 20px;

      .head {
        font-size: 1em;
        color: $dark-text-color;
        font-weight: 600;
        margin-bottom: 10px;
      }

      .link {
        font-size: 0.9em;
        color: $text-color;
        font-weight: 500;
        margin: 5px 0px;
        cursor: pointer;
        @include transition(0.5s);
      }

      .link:hover {
        color: $secondary-color;
      }
    }
  }

  .madeby {
    font-size: 0.7em;
    font-weight: 500;

    b {
      color: #ee5253;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.split {
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas: "split1 split2";
  grid-column-gap: 30px;

  .split-1 {
    padding: 10px;
    grid-area: split1;
    width: 100%;
  }

  .split-2 {
    padding: 10px;
    grid-area: split2;
    width: 100%;
  }
}

p.nospace,
h5.nospace {
  padding: 0px;
  margin: 5px 0px;
}

@media only screen and (max-width: 700px) {
  body {
    font-size: 80%;
  }

  header {
    .content {
      width: 90%;
      position: relative;
    }

    .content:after {
      display: block;
    }

    .links {
      width: 100vw;
      position: absolute;
      left: -5vw;
      top: calc(100% - 1px);
      flex-wrap: wrap;
      background: #fff;
      max-height: 0px;
      overflow: auto;
      box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
      @include transition(0.5s);

      a {
        width: inherit;
      }

      .link {
        width: 100%;
        padding: 15px;
        margin: 0;
        border-bottom: 3px solid transparent;
      }

      .link.active.underline {
        background-color: $secondary-color;
        color: #fff;
      }

      .link.active {
        width: 100%;
      }

      .link.filled {
        border-radius: 0;
      }
    }

    .open {
      max-height: calc(100vh - 80px);
    }
  }

  .content {
    width: 90%;
  }

  .half-content {
    width: 90%;
  }

  .gallery {
    .card {
      width: calc(50% - 10px);
      padding-top: calc(50% - 10px);
    }

    .card-large {
      width: calc(100% - 10px);
      padding-top: calc(100% - 10px);
    }
  }

  .info-gallery {
    .info-card {
      width: calc(50% - 30px);
    }

    .info-card-large {
      width: calc(100% - 30px);
    }
  }

  .split {
    display: block;
  }
}

pre {
  padding: 5px !important;
  margin: 20px 5px !important;
  max-height: 200px;
  overflow: auto;
}
